# Node modules
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dist files
dist/

# Editor and OS files
.DS_Store
.idea/
Thumbs.db

docs/.vitepress/dist
docs/.vitepress/cache
docs/docs/
coverage/
